* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* navigation styles */
header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(28, 42, 28, 0.973);
}
nav {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}
.navChild {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  color: whitesmoke;
  padding: 2rem 0rem 2rem 0rem;
}

.locationIcon {
  display: flex;
}
/* Hero section styles */
.heroContainer {
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.392)), url("images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3rem;
  font-weight: lighter;
}
.heroTextContainer div h1 {
  color: whitesmoke;
  text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.bookNowBtnContainer {
  display: flex;
  justify-content: center;
}
.bookNowBtn {
  font-size: large;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* color: whitesmoke; */
  background-color: rgba(255, 255, 255, 0.973);
}



/* mobile styles */
@media (max-width: 800px) {
  html,body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
nav{
  padding-left: 1rem;
  padding-right: 1rem;
}
.navLinks {

  gap: 30px;
}
.locationIcon{
  padding-left: 30px;
}
.mainContainer{
    flex-direction: column;
  }
  .heroContainer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.381), rgba(0, 0, 0, 0.392)), url("images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}
.heroTextContainer {
 
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 1rem;
}
.aboutMe{
  padding: 2rem;
}
.address{
  display: flex;
  justify-content: center;
}
.services{
  padding: 2rem;
  background-color: rgba(28, 42, 28, 0.973);
  color: whitesmoke;

}
h3{
  text-align: center;
  padding: 1rem;
}



/* contact form */
.contactFormContainer {
  /* width: 512px;
  height: 512px; */
  /* background-color: burlywood; */
}
#contactForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
label{
  margin-top: 2rem;
}

#contactForm input,
textarea,
select,
button {
  padding: 1rem;
  box-sizing: border-box;
}
#contactForm input{
   border: none;
   outline: none;
   border-bottom: 1px solid #212020d1;
   background-color: rgba(255, 255, 255, 0);
}
textarea{
  border: none;
  outline: none;
  /* background-color: rgba(5, 5, 5, 0.181); */
}
#submitButton{
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  background-color: rgba(28, 42, 28, 0.973);
  color: whitesmoke;
  border-radius: 5px;
   box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

}